main {
    display: table;
    padding: 0 90px 0;
}

.schedule__activity {
    display: table;
}

.schedule__info {
    display: table-cell;
    font-family: 'Lato', sans-serif;
}

.schedule__block {
    display: table-cell;
    padding: 20px;
    border-bottom: 1px solid #AAA;
    background: #FFF;
    vertical-align: middle;
}

.date {
    border: 1px solid lightgray;
    text-align: center;
    margin: 26px auto;
    padding: 0px 0 23px
}

.month {
    margin: 0 auto;
    background: -webkit-linear-gradient(90deg, #007273, #007b7c, #01796f);
    color: white;
    padding: 10px 41px;
    font-weight: 700;
    font-size: 0.8rem;
}

.day {
    margin: 8px;
    font-size: 3rem;
    font-weight: 100;
}

.year {
    font-style: italic;
}

.activity h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.50em;
    font-weight: 700;
    margin-bottom: 0;
}

.activity h2:hover {
    text-decoration: underline;
}

.activity__txt {
    line-height: 1.6rem;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    bottom: 30px;
}

li {
    font-family: 'Roboto', sans-serif;
    color: #007273;
    margin: 10px;
    display: inline-block;
}

a {
    color: inherit;
    text-decoration: none;
}

.fas {
    font-size: 1.3rem;
    margin-top: 20px;
}

.fas:hover {
    color: #63cdda;
}